* {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

body {
    font-family: 'Courier New', Courier, monospace;
    color: #F9FAF8;
    background-color: #3d3c4c;
    margin-top: 100px;
}

div {
display: flex;
margin: 50px 0px;
gap: 40px;
justify-content: center;
text-align: center;
text-align: center;
}


button {
    width: 8rem;
    aspect-ratio: 1 / 1;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #6aba9d8f;
    border-style: none;
    border-radius: 0.5em;
    display: grid;
    gap: 0px;
    align-items: center;
}


button:hover, button:focus   {
    text-shadow: 0 0 15px black;
}

button[name=Rock]::before {
    content: '🪨';
    font-size: 3rem;
}
button[name=Paper]::before {
    content: '📃';
    font-size: 3rem;
}
button[name=Scissors]::before {
    content: '✂️';
    font-size: 3rem;
}
button[name=Reset] {
    height: 4rem;
}

a, a:visited {
    all: unset
}

a:hover {
    color: #6aba9c;
}

